.products .load-more-btn {
    width: 163px;
    height: 50px;
    background-color: var(--color-1);
    border: none;
    display: block;
    margin: 50px auto;
    color: white;
    font-style: normal;
    text-transform: uppercase;
}

.products .load-more-btn:hover{
    background-color: var(--main-text-color);
}

